<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="idInput" placeholder="Введите id">
        <input type="text" name="langInput" placeholder="Введите Язык">
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>